@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 body {
    background: #e5e5e5;
    display: flex;
    margin: 0;
}


.layout {
    width: 220px;
    background: #1F1D16;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jost", sans-serif;
}

.img_layout {
    width: 150px;
  height: 150px;
}

.ola {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ola h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 25px;
}

.ola h3 span {
  color: #FFBD00;
  font-weight: 800;
}

.btn-dash {
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.btn-dash a {
    text-decoration: none;
  background-color: #1F1D16;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.btn-dash a:hover {
   color: #FFBD00;
}

.btn-sair {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 130px
}

.btn-sair a {
    text-decoration: none;
  background-color: #1F1D16;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.btn-sair a:hover {
   color: #FFBD00;
}

.main {
align-items: center;
padding-left: 70px;
}

.main h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

.indicadores {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}

.indicador {
    
    border: 4px solid black;
    width: 25%;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.indicador h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.indicador p {
    font-size: 35px;
    margin: 10px 0 0;
    font-weight: bold;
}

.graficos {
display: flex;
justify-content: space-between; 
align-items: flex-start;
gap: 23px;
margin-top: 130px;
}

.grafico-line {
  width: 48%;    
    background: #e5e5e5;
    padding: 5px;
}

.grafico-bar {
  width: 48%; 
  background: #e5e5e5;
  padding: 5px;
}

.titulo {
  display: flex;
}

.text-inicial {
  font-size: 20px;
   font-family: "Jost", sans-serif;
}

.campos  {
  flex-direction: column;
  margin-bottom: 30px;
   font-family: "Jost", sans-serif;
}

.campos h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.campos input {
  align-items: center;
  padding: 8px;
  border: 2px solid #FFBD00;
}

.campos select {
align-items: center;
  padding: 8px;
  border: 2px solid #FFBD00;  
}


#btn-registro {
  border: none;
  background-color: #e5e5e5;
  font-size: 20px;
  cursor: pointer;
  padding: 15px; 
  border: 2px solid;
  border-radius: 7px;
}

#btn-registro:hover {
background-color: #ffbd22;
}

.campos .falha {
  color: #ED145B;
}

.campos .certo {
  color: #6BD14F;
}