@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

header {
  background-color: #1F1D16;
  padding: 0px ; 
}
.img_layout {
  width: 100px;
  height: 100px;
}


nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.btn_layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap:80px;
  margin-right: 50px;
}

.btn_layout a {
  text-decoration: none;
  background-color: #1F1D16;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.btn_layout a:hover {
color: #FFBD00;
}

/* sessão principal */

.sessao-principal {
  width: 100%;
  height: 600px;
  background-image: url("/imagens/imagem_principal.png");
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ffffff;
}

.conteiner-principal {
  font-family: "Jost", sans-serif;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  font-size: 40px;
  margin-bottom: 100px;
}

.conteiner-principal b {
  color: #FFBD00;
}

/* sessao objetivo */

.objetivo {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  justify-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}

.objetivo .container {
  justify-content: center;
}

.box img {
  width: 400px;
}

.objetivo .caixa .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.objetivo .caixa .box p {
  text-align: justify;
  font-size: 20px;
  text-align: left;
  font-family: "Jost", sans-serif;
  width: 80%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box h1 {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* sessão cards */

.caixa {
  display: flex;
  width: 80%;
  margin: auto;
}

.sessao-lutadores {
  background-color: #e5e5e5;
  padding: 50px 20px;
  text-align: center;
}

.sessao-lutadores h1 {
  font-family: "Open Sans", sans-serif;
}    

.lutadores-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.lutador {
  background: #1a1a1a;
  border: 3px solid #FFBD00;
  border-radius: 15px;
  width: 400px;
  padding: 15px;
  color: #ffffff;
  text-align: center;
}

.lutador img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.lutador h3 {
  margin: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

.lutador p {
  font-family: "Jost", sans-serif;
}





/* footer */
   .footer {
  background-color: #2c2c2c;
  height: 100px;
  color: #ffffff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: left;
  text-align: left;
}

.footer .container h4 {
  font-family: "Jost", sans-serif;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('/imagens/ringue.webp');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #1a1a1a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #FFBD00;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #FFBD00;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 4px solid #FFBD00;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Jost", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #1a1a1a;
  background-color: #FFBD00;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #FFBD00 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #FFBD00;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container h1 {
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
}

.simulador .container p {
  font-size: 30px;
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
}

.simulador .container span {
  font-size: 15px;
  font-family: "Jost", sans-serif;
}

.simulador .container {
  flex-direction: column;
}

.simulador .container .falha {
  color: #ED145B;
}

.simulador .container button {
  border-radius: 8px;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 500px;
  background-color: #FFBD00;
  font-size: 20px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.simulador .container button a {
  text-decoration: none;
  font-size: 20px;
  color: #1a1a1a;
  
}

.simulador .mensagem {
  background: #1a1a1a;
  border: 5px solid #FFBD00;
  border-radius: 15px;
  width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  text-align: center;
  margin-left: 330px;
  margin-bottom: 100px;
  font-size: 25px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.simulador .mensagem p {
  background-color: #90EE90;
  color: #1a1a1a;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
}

.simulador .mensagem span {
  padding: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: "Jost", sans-serif;
}

/* Quiz */
























/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}