@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}


header {
  background-color: #1F1D16;
  padding: 0px ; 
}
.img_layout {
  width: 100px;
  height: 100px;
}


nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.btn_layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap:80px;
  margin-right: 50px;
}

.btn_layout a {
  text-decoration: none;
  background-color: #1F1D16;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.btn_layout a:hover {
  color: #FFBD00;
}


.app {
    background-color: #ececec;
    width: 90%;
    max-width: 600px;
    margin: 70px auto 0;
    padding: 30px;
}

.app h1 {
  font-weight: 25px;
  color: #FFBD00;
  border-bottom: 1px solid #FFBD00;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #1F1D16;
  font-weight: 600;
}

.btnAl {
  background: #ffffff;
  color: #1F1D16;
  font-weight: 500;
  width: 100%;
  border: 1px solid #FFBD00;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btnAl:hover {
  background: #222222;
  color: #ffffff;
}

#btnProximo {
  background-color: #FFBD00;
  color: #1F1D16;
  font-size: 18px;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
 
}

.correto {
  background-color: #6BD14F;
}

.errada {
  background-color: #E80700;
}