
.container {
  display: flex;
  width: 80%;
  margin: auto;
}
body {
  margin: 0;
}
header {
     background-color: #1F1D16;
    padding: 0px ; 
}
.img_layout {
    width: 100px;
    height: 100px;
}


nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.btn_layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap:80px;
  margin-right: 50px;
}

/* sessão principal */

.sessao-principal {
        width: 100%;
        height: 600px;
        background-image: url("/imagens/imagem_principal.png");
        background-size: cover;  
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .conteiner-principal {
        background-color: #e5e5e5;
        padding: 20px 30px;
        border-radius: 12px;
        text-align: center;
        max-width: 400px;
    }

    /* sessao objetivo */

    .objetivo {
  background-color: #e5e5e5;
  display: flex;
}

.objetivo .container {
  justify-content: center;
}

.box img {
  width: 400px;
}

.objetivo .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.objetivo p {
  text-align: center;
  font-size: 20px;
  text-align: left;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* sessão cards */

.sessao-lutadores {
        background-color: #ffffff;
        padding: 50px 20px;
        text-align: center;
    }

    .lutadores-container {
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .card {
        background: #1a1a1a;
        border: 3px solid #e0b700;
        border-radius: 15px;
        width: 400px;
        padding: 15px;
        color: #ffffff;
        text-align: center;
    }

    .card img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card h3 {
        margin: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 40px;
    }

    .footer {
  background-color: #2c2c2c;
  height: 120px;
  color: #ffffff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: left;
  text-align: left;
}
.footer .container img {
  height: 100px;
  width: 100px;
  justify-content: right;
  justify-content: space-between;
  margin: 0;
}
