
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
}
header {
  background-color: #1F1D16;
  padding: 0px ; 
}
.img_layout {
  width: 100px;
  height: 100px;
}


nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.btn_layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap:80px;
  margin-right: 50px;
}

.btn_layout a {
  text-decoration: none;
  background-color: #e0b700;
  color: #1F1D16;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
}


/* sessão principal */

.sessao-principal {
  width: 100%;
  height: 600px;
  background-image: url("/imagens/imagem_principal.png");
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.conteiner-principal {
  background-color: #e5e5e5;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
}

.conteiner-principal h2 {
  font-family: "Open Sans", sans-serif;
}

/* sessao objetivo */

.objetivo {
  background-color: #e5e5e5;
  display: flex;
}

.objetivo .container {
  justify-content: center;
}

.box img {
  width: 400px;
}

.objetivo .caixa .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.objetivo p {
  text-align: center;
  font-size: 20px;
  text-align: left;
  font-family: "Jost", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box h1 {
  font-family: "Open Sans", sans-serif;
}

/* sessão cards */

.caixa {
  display: flex;
  width: 80%;
  margin: auto;
}

.sessao-lutadores {
  background-color: #e5e5e5;
  padding: 50px 20px;
  text-align: center;
}

.sessao-lutadores h1 {
  font-family: "Open Sans", sans-serif;
}    

.lutadores-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.lutador {
  background: #1a1a1a;
  border: 3px solid #e0b700;
  border-radius: 15px;
  width: 400px;
  padding: 15px;
  color: #ffffff;
  text-align: center;
}

.lutador img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.lutador h3 {
  margin: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

.lutador p {
  font-family: "Jost", sans-serif;
}

    /* footer */

    .footer {
  background-color: #2c2c2c;
  height: 120px;
  color: #ffffff;
  display: flex;
  font-size: 15px;
}

.footer .caixa {
  justify-content: left;
  text-align: left;
}
.footer .caixa img {
  height: 100px;
  width: 100px;
  justify-content: right;
  justify-content: space-between;
  margin: 0;
}

.footer .caixa h4 {
  font-family: "Jost", sans-serif;
}
